body {
    background-color: aqua;
}

/* google fonts */
.yuji-syuku-regular {
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
}

/* lucky.html */

.lucky-container {
    width: 280px;
}

/* おみくじ結果 */
.lucky-fortune {
    font-size: 5rem;
}
